USE [UPP_Operator]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_publication]    Script Date: 11.02.2026 11:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_create_publication]

AS
BEGIN
	SET NOCOUNT ON;

	--DECLARE @publication_name NVARCHAR(255) = N'AR_PUBLICATION_00005';
	DECLARE @publication_name SYSNAME = N'AR_PUBLICATION_00005';
	DECLARE @table SYSNAME;
	DECLARE @sql NVARCHAR(MAX);
	DECLARE @object_id INT;
	DECLARE @wait_seconds INT;

	-- Enable database for replication
	IF NOT EXISTS (
		SELECT 1
		FROM sys.databases
		WHERE name = DB_NAME()
		  AND is_published = 1
	)
	BEGIN
		EXEC sp_replicationdboption @dbname = N'UPP_Operator', @optname = N'publish', @value = N'true';
	END
	-- Add transactional publication
	IF NOT EXISTS (
		SELECT 1
		FROM syspublications
		WHERE name = @publication_name
	)
	BEGIN
		EXEC sp_addpublication
		@publication = @publication_name,
		@description = N'Transactional publication of database ''UPP_Operator'' from Publisher ''ITSRV759''.',
		@sync_method = N'concurrent',
		@retention = 0,
		@allow_push = N'true',
		@allow_pull = N'true',
		@allow_anonymous = N'true',
		@enabled_for_internet = N'false',
		@snapshot_in_defaultfolder = N'true',
		@compress_snapshot = N'false',
		@ftp_port = 21,
		@ftp_login = N'anonymous',
		@allow_subscription_copy = N'false',
		@add_to_active_directory = N'false',
		@repl_freq = N'continuous',
		@status = N'active',
		@independent_agent = N'true',
		@immediate_sync = N'true',
		@allow_sync_tran = N'false',
		@autogen_sync_procs = N'false',
		@allow_queued_tran = N'false',
		@allow_dts = N'false',
		@replicate_ddl = 1,
		@allow_initialize_from_backup = N'false',
		@enabled_for_p2p = N'false',
		@enabled_for_het_sub = N'false';
	END

	-- Add snapshot schedule for the publication

	IF NOT EXISTS (
        SELECT 1
        FROM msdb.dbo.sysjobs j
        WHERE j.name LIKE '%' + @publication_name + '%'
    )
	BEGIN
	EXEC sp_addpublication_snapshot
	@publication = @publication_name,
	@frequency_type = 1,
	@frequency_interval = 0,
	@frequency_relative_interval = 0,
	@frequency_recurrence_factor = 0,
	@frequency_subday = 0,
	@frequency_subday_interval = 0,
	@active_start_time_of_day = 0,
	@active_end_time_of_day = 235959,
	@active_start_date = 0,
	@active_end_date = 0,
	@job_login = null,
	@job_password = null,
	@publisher_security_mode = 1;
	END

	-- list of tables to be added as articles
	DECLARE @tables AS TABLE (
		id INT IDENTITY(1,1) PRIMARY KEY,
		name sysname
	)

	INSERT INTO @tables (name)
	VALUES ('_Acc21'), ('_Acc22'), ('_Acc23'), 
		('_Chrc1028'), ('_Document23842'), ('_Document25132'), 
		('_Document25740'), ('_Document26095'), ('_Document30404'), 
		('_Document315'), ('_Document333'), ('_Document425'), 
		('_Document477'), ('_Document540'), ('_Document546'), 
		('_Document568'), ('_Enum1002'), ('_Enum1014'), 
		('_Enum25741'), ('_Enum26297'), ('_Enum27082'), 
		('_Enum27083'), ('_Enum27084'), ('_Enum27689'), 
		('_Enum27690'), ('_Enum28423'), ('_Enum29453'), 
		('_Enum29681'), ('_Enum31166'), ('_Enum32109'), 
		('_Enum32184'), ('_Enum36669'), ('_Enum37349'), 
		('_Enum37411'), ('_Enum37985'), ('_Enum38905'), 
		('_Enum39108'), ('_Enum40869'), ('_Enum635'), 
		('_Enum670'), ('_Enum674'), ('_Enum706'), 
		('_Enum718'), ('_Enum724'), ('_Enum732'), 
		('_Enum849'), ('_Enum850'), ('_Enum916'), 
		('_Enum936'), ('_Enum949'), ('_Enum961'), 
		('_Enum971'), ('_Enum998'), ('_Enum999'), 
		('_Reference103'), ('_Reference109'), ('_Reference118'), 
		('_Reference119'), ('_Reference140'), ('_Reference141'), 
		('_Reference143'), ('_Reference148'), ('_Reference158'), 
		('_Reference159'), ('_Reference162'), ('_Reference170'), 
		('_Reference180'), ('_Reference185'), ('_Reference186'), 
		('_Reference187'), ('_Reference188'), ('_Reference202'), 
		('_Reference203'), ('_Reference226'), ('_Reference231'), 
		('_Reference235'), ('_Reference23804'), ('_Reference23841'), 
		('_Reference240'), ('_Reference24388'), ('_Reference249'), 
		('_Reference252'), ('_Reference256'), ('_Reference25924'), 
		('_Reference25925'), ('_Reference25926'), ('_Reference25927'), 
		('_Reference25928'), ('_Reference25929'), ('_Reference25930'), 
		('_Reference27'), ('_Reference272'), ('_Reference27687'), 
		('_Reference278'), ('_Reference280'), ('_Reference284'), 
		('_Reference28522'), ('_Reference29759'), ('_Reference29766'), 
		('_Reference30'), ('_Reference31376'), ('_Reference31426'), 
		('_Reference36813'), ('_Reference36828'), ('_Reference37639'), 
		('_Reference38902'), ('_Reference40902'), ('_Reference43'), 
		('_Reference46'), ('_Reference47'), ('_Reference53'), 
		('_Reference57'), ('_Reference70'), ('_Reference81'), 
		('_Reference84'), ('_Reference86'), ('_Reference88'), 
		('_Reference91'), ('_Reference93'), ('_Reference99'), 
		('_Document332'), ('_Reference51'), ('_Enum692'), 
		('_Document576'), ('_Document451'), ('_Document556'), 
		('_Document506'), ('_Enum980'), ('_Document343'), 
		('_Reference205'), ('_Enum25328'), ('_Reference25214'), 
		('_Document25280'), ('_Enum991'), ('_Reference50'), 
		('_Reference190'), ('_Reference279'), ('_Enum31602'), 
		('_Reference207'), ('_Enum680'), ('_Document309'), 
		('_Document27585'), ('_Enum27719'), ('_Enum36670'), 
		('_Reference27964'), ('_Document531'), ('_Reference85'), 
		('_Document39409'), ('_Reference30483'), ('_Enum1004'), 
		('_Enum25823'), ('_Enum42588'), ('_Enum36668'), ('_Enum39410'), 
		('_Reference41559'), ('_Document582'), ('_Document325'), 
		('_Document414'), ('_Reference25703'), ('_Document36418'), 
		('_Document334'), ('_Document379'), ('_Reference42685'), 
		('_Reference42858'), ('_Reference41271'), ('_Document337'), 
		('_Enum43370'), ('_Document43256'), ('_Document504'), 
		('_Document43272'), ('_Reference43332'), ('_Enum972'), 
		('_Document28086'), ('_Document378'), ('_Document575'), 
		('_Document580'), ('_Document570'), ('_Enum26656'), 
		('_Enum966'), ('_Reference253'), ('_Document26248'), 
		('_Enum28497'), ('_Reference42859'), ('_Document31286'), 
		('_Reference37808'), ('_Document41952'), ('_Document321'), 
		('_Document448'), ('_Enum697'), ('_Reference44337'), 
		('_Document361'), ('_Document373'), ('_Document43056'), ('_Reference25705')

    DECLARE @i INT = 1;
    DECLARE @max_i INT = (SELECT MAX(id) FROM @tables);

	WHILE @i <= @max_i
	BEGIN
		SELECT @table = name FROM @tables WHERE id = @i;
        SET @object_id = OBJECT_ID(N'dbo.' + @table);
        SET @wait_seconds = 0;


		-- Таблица не существует 
        IF @object_id IS NULL
        BEGIN
            INSERT INTO dbo.Replication_Article_Log(publication, table_name, status, error_text)
            VALUES(@publication_name, @table, 'SKIPPED', 'Table not found');

            GOTO NextTable;
        END

		-- Статья уже есть
        IF EXISTS (
            SELECT 1
            FROM sysarticles a
            JOIN syspublications p ON a.pubid = p.pubid
            WHERE p.name = @publication_name
              AND a.name = @table
        )
        BEGIN
            INSERT INTO dbo.Replication_Article_Log(publication, table_name, status)
            VALUES(@publication_name, @table, 'ALREADY_EXISTS');

            GOTO NextTable;
        END

		-- Ожидание блокировок до 60 секунд
        WHILE EXISTS (
            SELECT 1
            FROM sys.dm_tran_locks
            WHERE resource_associated_entity_id = @object_id
              AND request_mode IN ('SCH-M', 'X')
        )
        BEGIN
            IF @wait_seconds >= 60 BREAK;

            WAITFOR DELAY '00:00:05';
            SET @wait_seconds += 5;
        END
		-- Если так и не дождались */
        IF EXISTS (
            SELECT 1
            FROM sys.dm_tran_locks
            WHERE resource_associated_entity_id = @object_id
              AND request_mode IN ('SCH-M', 'X')
        )
        BEGIN
            INSERT INTO dbo.Replication_Article_Log(publication, table_name, status, error_text)
            VALUES(@publication_name, @table, 'SKIPPED_LOCKED', 'Locked > 60 sec');

            GOTO NextTable;
        END

		-- Добавляем статью 
		BEGIN TRY

			SET @sql = N'EXEC sp_addarticle 
			@publication = N''' + @publication_name + N''', 
			@article = N''' + @table + N''', 
			@source_owner = N''dbo'', 
			@source_object = N''' + @table + N''', 
			@type = N''logbased'', 
			@description = null, 
			@creation_script = null, 
			@pre_creation_cmd = N''drop'', 
			@schema_option = 0x000000000803509F, 
			@identityrangemanagementoption = N''manual'', 
			@destination_table = N''' + @table + N''', 
			@destination_owner = N''dbo'', 
			@vertical_partition = N''false'', 
			@ins_cmd = N''CALL sp_MSins_dbo_' + @table + N''', 
			@del_cmd = N''CALL sp_MSdel_dbo_' + @table + N''', 
			@upd_cmd = N''SCALL sp_MSupd_dbo_' + @table + N''''

			EXEC sp_executesql @sql

		END TRY
        BEGIN CATCH
            INSERT INTO dbo.Replication_Article_Log(publication, table_name, status, error_text)
            VALUES(@publication_name, @table, 'ERROR', ERROR_MESSAGE());
        END CATCH

		NextTable:
        SET @i += 1;
	END
END
