USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_publication]    Script Date: 12.02.2026 9:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_create_publication]

AS
BEGIN
SET NOCOUNT ON;

DECLARE @publication_name NVARCHAR(255) = N'AR_PUBLICATION_00006';

-- Enable database for replication
EXEC sp_replicationdboption @dbname = N'CRM', @optname = N'publish', @value = N'true';

-- Add transactional publication
EXEC sp_addpublication
@publication = @publication_name,
@description = N'Transactional publication of database ''CRM'' from Publisher ''VM-CRM01''.',
@sync_method = N'concurrent',
@retention = 0,
@allow_push = N'true',
@allow_pull = N'true',
@allow_anonymous = N'true',
@enabled_for_internet = N'false',
@snapshot_in_defaultfolder = N'true',
@compress_snapshot = N'false',
@ftp_port = 21,
@ftp_login = N'anonymous',
@allow_subscription_copy = N'false',
@add_to_active_directory = N'false',
@repl_freq = N'continuous',
@status = N'active',
@independent_agent = N'true',
@immediate_sync = N'true',
@allow_sync_tran = N'false',
@autogen_sync_procs = N'false',
@allow_queued_tran = N'false',
@allow_dts = N'false',
@replicate_ddl = 1,
@allow_initialize_from_backup = N'false',
@enabled_for_p2p = N'false',
@enabled_for_het_sub = N'false';

-- Add snapshot schedule for the publication
EXEC sp_addpublication_snapshot
@publication = @publication_name,
@frequency_type = 1,
@frequency_interval = 0,
@frequency_relative_interval = 0,
@frequency_recurrence_factor = 0,
@frequency_subday = 0,
@frequency_subday_interval = 0,
@active_start_time_of_day = 0,
@active_end_time_of_day = 235959,
@active_start_date = 0,
@active_end_date = 0,
@job_login = NULL,
@job_password = NULL,
@publisher_security_mode = 1;

DECLARE @table AS sysname
DECLARE @sql AS NVARCHAR(MAX)


-- list of tables to be added as articles
DECLARE @tables AS TABLE (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name sysname
)

INSERT INTO @tables (name)
VALUES ('_Document12094'), ('_Document9828'), ('_Document9829'), ('_Document9830'), ('_Enum307'), ('_Enum422'), ('_Enum442'), ('_Enum9852'), ('_Reference102'), ('_Reference106'), ('_Reference11175'), ('_Reference142'), ('_Reference43'), ('_Reference76'), ('_Reference83'), ('_Reference84'), ('_Reference92'), ('_Reference9794'), ('_Reference9800'), ('_Reference9801'), ('_Reference9804'), ('_Reference9815'), ('_Reference9816'), ('_Reference9818'), ('_Reference9824'), ('_Reference9825'), ('_Reference9817'), ('_Reference42'), ('_Document10998'), ('_Document261'), ('_Enum330'), ('_Enum9844'), ('_Reference133'), ('_Reference137'), ('_Reference165'), ('_Enum481'), ('_Reference9821'), ('_Reference152'), ('_Reference9805'), ('_Reference9807')

DECLARE @i AS INT = 1
DECLARE @count AS INT = (SELECT COUNT(*) FROM @tables)

WHILE (@i <= @count)
	BEGIN
		SET @table = (SELECT name FROM @tables WHERE id = @i)
		SET @sql = N'EXEC sp_addarticle @publication = N''' + @publication_name + N''', @article = N''' + @table + N''', @source_owner = N''dbo'', @source_object = N''' + @table + N''', @type = N''logbased'', @description = null, @creation_script = null, @pre_creation_cmd = N''drop'', @schema_option = 0x000000000803509F, @identityrangemanagementoption = N''manual'', @destination_table = N''' + @table + N''', @destination_owner = N''dbo'', @vertical_partition = N''false'', @ins_cmd = N''CALL sp_MSins_dbo_' + @table + N''', @del_cmd = N''CALL sp_MSdel_dbo_' + @table + N''', @upd_cmd = N''SCALL sp_MSupd_dbo_' + @table + N''''

		EXEC sp_executesql @sql

		SET @i += 1
	END

END
