USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[sp_enable_cdc_add_tables]    Script Date: 12.02.2026 9:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sp_enable_cdc_add_tables]
AS
BEGIN

	EXEC sys.sp_cdc_enable_db
	-- Включение CDC и добавление таблиц
    DECLARE @tables TABLE (
        id INT IDENTITY(1,1) PRIMARY KEY,
        source_name NVARCHAR(255)
    )

    INSERT INTO @tables (source_name)
    VALUES
        ('_AccumRg10498'),
        ('_AccumRg10675'),
        ('_AccumRgT10512'),
        ('_Document9828_VT10064'),
		('_InfoRg10292'),
		('_InfoRg10302'),
		('_Reference102_VT2160'),
		('_InfoRg11244'),
		('_InfoRg8287');

    DECLARE @id INT = 1
    DECLARE @max_id INT = (SELECT MAX(id) FROM @tables)

    WHILE @id <= @max_id
    BEGIN
        DECLARE @source_name NVARCHAR(255) = (SELECT source_name FROM @tables WHERE id = @id)
        EXEC sys.sp_cdc_enable_table @source_schema = N'dbo', @source_name = @source_name, @role_name = NULL
        SET @id = @id + 1
    END
END
