USE [UPP_Operator]
GO
/****** Object:  StoredProcedure [dbo].[sp_enable_cdc_add_tables]    Script Date: 06.02.2026 8:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE dbo.sp_enable_cdc_add_tables
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Включаем CDC на базе, если ещё не включён
    IF NOT EXISTS (
        SELECT 1
        FROM sys.databases
        WHERE name = DB_NAME()
          AND is_cdc_enabled = 1
    )
    BEGIN
        EXEC sys.sp_cdc_enable_db;
    END

    DECLARE @tables TABLE (source_name SYSNAME);

    INSERT INTO @tables (source_name)
    VALUES
        ('_Acc21_ExtDim1038'),
        ('_Acc22_ExtDim1046'),
        ('_Acc23_ExtDim1054'),
        ('_AccChngR1058'),
		('_AccRgAT01095'),
		('_AccRgAT01121'),
		('_AccRgAT11102'),
		('_AccRgAT11131'),
		('_AccRgAT31104'),
		('_AccRgChngR1085'),
		('_AccRgCT1105'),
		('_AccumRg22679'),
		('_AccumRg23249'),
		('_AccumRgT22713'),
		('_AccumRgT23258'),
		('_Document23842_VT23869'),
		('_Document23842_VT24754'),
		('_Document23842_VT27008'),
		('_Document25740_VT25742'),
		('_Document25740_VT26412'),
		('_Document25740_VT27441'),
		('_Document25740_VT37344'),
		('_Document25740_VT38716'),
		('_Document25740_VT38735'),
		('_Document25740_VT38930'),
		('_Document26095_VT26171'),
		('_Document26095_VT26204'),
		('_Document26095_VT36377'),
		('_Document26095_VT36382'),
		('_Document315_VT25827'),
		('_Document315_VT26314'),
		('_Document315_VT29381'),
		('_Document315_VT29479'),
		('_Document315_VT5008'),
		('_Document315_VT5018'),
		('_Document315_VT5036'),
		('_Document315_VT5098'),
		('_Document332_VT5844'),
		('_Document333_VT26715'),
		('_Document333_VT28512'),
		('_Document333_VT36344'),
		('_Document333_VT5965'),
		('_Document333_VT5992'),
		('_Document477_VT12767'),
		('_Document477_VT12833'),
		('_Document477_VT12919'),
		('_Document477_VT12923'),
		('_Document477_VT25814'),
		('_Document477_VT26066'),
		('_Document477_VT26360'),
		('_Document477_VT26776'),
		('_Document477_VT29397'),
		('_Document477_VT29526'),
		('_Document477_VT37867'),
		('_Document540_VT15689'),
		('_Document540_VT15710'),
		('_Document540_VT15715'),
		('_Document540_VT15736'),
		('_Document540_VT24126'),
		('_Document540_VT24131'),
		('_Document540_VT25550'),
		('_Document540_VT26027'),
		('_Document540_VT29316'),
		('_Document540_VT29558'),
		('_Document540_VT31928'),
		('_Document540_VT33351'),
		('_Document568_VT17043'),
		('_Document568_VT17062'),
		('_Document568_VT24769'),
		('_InfoRg18906'),
		('_InfoRg19165'),
		('_InfoRg20080'),
		('_InfoRg20338'),
		('_InfoRg21072'),
		('_InfoRg21125'),
		('_InfoRg21511'),
		('_InfoRg24644'),
		('_InfoRg24793'),
		('_InfoRg24879'),
		('_InfoRg25139'),
		('_InfoRg30346'),
		('_InfoRg30407'),
		('_InfoRg31235'),
		('_InfoRg32110'),
		('_InfoRg32250'),
		('_InfoRg33494'),
		('_InfoRg38911'),
		('_InfoRg39490'),
		('_Document425_VT9747'),
		('_InfoRg41998'),
		('_Document576_VT17250'),
		('_Document451_VT11259'),
		('_Document343_VT6210'),
		('_Document25280_VT25295'),
		('_Document451_VT11288'),
		('_Document343_VT27504'),
		('_Document531_VT15469'),
		('_Document531_VT15481'),
		('_Document531_VT29774'),
		('_Document531_VT26761'),
		('_InfoRg24636'),
		('_InfoRgChngR24788'),
		('_Document39409_VT39511'),
		('_Document39409_VT39521'),
		('_Document39409_VT39528'),
		('_Document39409_VT39530'),
		('_Document39409_VT40825'),
		('_Document39409_VT41522'),
		('_Document39409_VT41937'),
		('_Document39409_VT41944'),
		('_Document39409_VT42423'),
		('_InfoRg37710'),
		('_InfoRg24685'),
		('_Document309_VT4772'),
		('_Document309_VT4785'),
		('_AccumRg23320'),
		('_Document582_VT17348'),
		('_Document582_VT40885'),
		('_Document414_VT8985'),
		('_Document414_VT9032'),
		('_Document414_VT9037'),
		('_Document414_VT9056'),
		('_Document414_VT9061'),
		('_Document414_VT23937'),
		('_Document414_VT23988'),
		('_Document414_VT24002'),
		('_Document414_VT24016'),
		('_Document414_VT24026'),
		('_Document414_VT24032'),
		('_Document414_VT24039'),
		('_Document414_VT24049'),
		('_Document414_VT24057'),
		('_Document414_VT24062'),
		('_Document414_VT24069'),
		('_Document414_VT29873'),
		('_Document414_VT42169'),
		('_Document325_VT5621'),
		('_Document36418_VT36423'),
		('_Document334_VT6028'),
		('_Document379_VT7511'),
		('_Document379_VT24726'),
		('_AccumRg43022'),
		('_AccumRg42997'),
		('_InfoRg43474'),
		('_InfoRg43265'),
		('_Document337_VT6072'),
		('_AccumRg43432'),
		('_AccumRg43111'),
		('_Document43256_VT43260'),
		('_AccRg1108'),
		('_AccRgED1135'),
		('_Document576_VT31268'),
		('_Document576_VT17269'),
		('_Document43272_VT43284'),
		('_Document43272_VT43277'),
		('_Document504_VT29536'),
		('_Document504_VT14136'),
		('_Reference43332_VT43355'),
		('_InfoRg21179'),
		('_Document26248_VT26253'),
		('_AccumRg43295'),
		('_Reference42859_VT42923'),
		('_InfoRg25865'),
		('_InfoRg41974'),
		('_AccumRg22963'),
		('_Document31286_VT31316'),
		('_Document41952_VT41959'),
		('_AccumRg44213'),
		('_InfoRg43932'),
		('_Document321_VT5534'),
		('_Document321_VT5516'),
		('_Document321_VT26320'),
		('_Document321_VT5485'),
		('_Document448_VT10954'),
		('_Document448_VT10940'),
		('_Document448_VT10924'),
		('_Document448_VT26348'),
		('_Document448_VT10899'),
		('_Document448_VT10961'),
		('_InfoRg39436'),
		('_Document361_VT40000'),
		('_Document361_VT6730'),
		('_Document361_VT31667'),
		('_Document361_VT31412'),
		('_Document361_VT6711'),
		('_Document361_VT30272'),
		('_Document373_VT7151'),
		('_Document43056_VT43061')
        ;

    DECLARE @source_name_cur SYSNAME;

    DECLARE table_cursor CURSOR LOCAL FAST_FORWARD FOR
        SELECT source_name FROM @tables;

    OPEN table_cursor;
    FETCH NEXT FROM table_cursor INTO @source_name_cur;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            -- Проверяем, включён ли CDC для таблицы
            IF NOT EXISTS (
                SELECT 1
                FROM cdc.change_tables
                WHERE source_object_id = OBJECT_ID(N'dbo.' + @source_name_cur)
            )
            BEGIN
				BEGIN TRY
				DECLARE @wait_seconds INT = 0;

				-- Проверяем есть ли блокировка на таблице 
				WHILE EXISTS (
					SELECT 1
					FROM sys.dm_tran_locks
					WHERE resource_associated_entity_id = OBJECT_ID(N'dbo.' + @source_name_cur)
				)
				BEGIN
					IF @wait_seconds >= 60
						BREAK;

					WAITFOR DELAY '00:00:05';
					SET @wait_seconds += 5;
				END

				IF EXISTS (
					SELECT 1
					FROM sys.dm_tran_locks
					WHERE resource_associated_entity_id = OBJECT_ID(N'dbo.' + @source_name_cur)
				)
				BEGIN
					INSERT INTO dbo.CDC_Enable_Log (table_name, status, error_text)
					VALUES (@source_name_cur, 'SKIPPED_LOCKED', 'Locked > 60 sec');

					GOTO NextTable;
				END

				-- Если все ОК то включаем добавление таблицы
				EXEC sys.sp_cdc_enable_table
					@source_schema = N'dbo',
					@source_name   = @source_name_cur,
					@role_name     = NULL;

				INSERT INTO dbo.CDC_Enable_Log (table_name, status)
				VALUES (@source_name_cur, 'ENABLED');

			END TRY
			BEGIN CATCH

				INSERT INTO dbo.CDC_Enable_Log (table_name, status, error_text)
				VALUES (@source_name_cur, 'ERROR', ERROR_MESSAGE());

			END CATCH
            END
            ELSE
            BEGIN

                INSERT INTO dbo.CDC_Enable_Log (table_name, status)
                VALUES (@source_name_cur, 'ALREADY_ENABLED');

            END
        END TRY
        BEGIN CATCH

            INSERT INTO dbo.CDC_Enable_Log (table_name, status, error_text)
            VALUES (
                @source_name_cur,
                'ERROR',
                ERROR_MESSAGE()
            );

        END CATCH;

		NextTable:
        FETCH NEXT FROM table_cursor INTO @source_name_cur;
    END

    CLOSE table_cursor;
    DEALLOCATE table_cursor;
END;







		